* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: black;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing:5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links li{
    list-style: none;
    color:white;
    z-index: 2;
}
.nav-links li:hover{
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.nav-links a{
    color: white;
    text-decoration: none;
    letter-spacing:3px;
    font-weight: bold;
    font-size: 14px;
}

.triplebar {
    display: none;
    cursor: pointer;
}

.triplebar div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1024px){
    .nav-links{
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color:black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 1;
    }

    .triplebar{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,5px);
}
.toggle .line2{
    opacity:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-5px);
}

.main{
    text-align: center;
}
/* 
button {
    margin-top:20px;
    padding: 2px 30px;
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    cursor:pointer;
    border-radius: 2rem;
    /* background: linear-gradient(90deg,#ff8a00,#e52e71); */

/* }

button:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
} */

